<div class="container">

    <div class="row">


        <div id="#carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2000">

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>


            </ol>


            <div class="carousel-inner" role="listbox">


                <div class="item active">
                    <img src="images/lb9.jpg">

                </div>

                <div class="item">
                    <img src="images/lb5.png">
                </div>


                <div class="item">
                    <img src="images/lb6.png">

                </div>

                <div class="item">
                    <img src="images/lb4.png">
                </div>
                <div class="item">
                    <img src="images/lb1.png">

                </div>

            </div>
            <a   class="btn btn-primary btn-block loginButtons" href="#/createProduct">Create Product</a>




</div>



        <div class="filterContainer">
        <div ng-repeat="product in model.products" class="list-group-item">
            <a  href="#/product/{{product._id}}/edit">
                <img class="img-responsive centered" src="images/d2.2.jpg" >
                <h5 class="text-center">EDIT {{product.title}}</h5>
            </a>
        </div>
    </div>



        </div>
        </div>
    </div>